@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 233 18% 19%;
    --foreground: 173 24% 93%;
    --muted: 233 12% 23%;
    --muted-foreground: 233 12% 73%;
    --popover: 233 18% 16%;
    --popover-foreground: 0 0% 100%;
    --card: 233 18% 17%;
    --card-foreground: 173 24% 98%;
    --border: 233 8% 24%;
    --input: 233 8% 27%;
    --primary: 44 100% 71%;
    --primary-foreground: 44 100% 11%;
    --secondary: 44 30% 25%;
    --secondary-foreground: 44 30% 85%;
    --accent: 233 18% 34%;
    --accent-foreground: 233 18% 94%;
    --destructive: 10 90% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 44 100% 71%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 18% 19%;
    --foreground: 173 24% 93%;
    --muted: 233 12% 23%;
    --muted-foreground: 233 12% 73%;
    --popover: 233 18% 16%;
    --popover-foreground: 0 0% 100%;
    --card: 233 18% 17%;
    --card-foreground: 173 24% 98%;
    --border: 233 8% 24%;
    --input: 233 8% 27%;
    --primary: 44 100% 71%;
    --primary-foreground: 44 100% 11%;
    --secondary: 44 30% 25%;
    --secondary-foreground: 44 30% 85%;
    --accent: 233 18% 34%;
    --accent-foreground: 233 18% 94%;
    --destructive: 10 90% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 44 100% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
