@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 212 7% 34%;
    --muted: 210 12% 90%;
    --muted-foreground: 210 12% 30%;
    --popover: 210 17% 95%;
    --popover-foreground: 212 7% 24%;
    --card: 210 17% 96%;
    --card-foreground: 212 7% 29%;
    --border: 210 7% 93%;
    --input: 210 7% 90%;
    --primary: 185.52 73.76% 43.33%;
    --primary-foreground: 210 0% 100%;
    --secondary: 0 0% 88.46%;
    --secondary-foreground: 0 0% 15%;
    --accent: 210 17% 83%;
    --accent-foreground: 210 17% 23%;
    --destructive: 4 87% 36%;
    --destructive-foreground: 4 87% 96%;
    --ring: 210 9% 23%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 225 18% 9%;
    --foreground: 231 7% 81%;
    --muted: 225 12% 15%;
    --muted-foreground: 225 12% 65%;
    --popover: 225 18% 6%;
    --popover-foreground: 231 7% 91%;
    --card: 215 15% 14%;
    --card-foreground: 231 7% 86%;
    --border: 225 8% 14%;
    --input: 225 8% 17%;
    --primary: 185.52 73.76% 43.33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 6% 25%;
    --secondary-foreground: 219 6% 85%;
    --accent: 225 18% 24%;
    --accent-foreground: 225 18% 84%;
    --destructive: 8 90% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 219 16% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    /* Fallback */
    min-height: 100dvh;
  }

  .h-screen {
    height: 100vh;
    /* Fallback */
    height: 100dvh;
  }
}